#include <iostream>
#include <BufferManager.h>

using namespace std;

int main() {
    BufferManager &bufferManager = BufferManager::GetInstance();

    for (int i = 0; i < 10; i++) {
        auto &blockNode = bufferManager.getBlock(MINI_TABLE, "tableName.table", i);
        char a[10] = "12345";
        blockNode.writeBlock(a, sizeof(a), 0);
    }

    for (int i = 9; i >= 0; i--) {
        auto &blockNode = bufferManager.getBlock(MINI_TABLE, "tableName.table", i);
        char a[10];
        blockNode.readBlock(a, sizeof(a), 0);
        cout << a << endl;
    }

    return 0;
}
